ul {
  margin-top: 4px;
  margin-bottom: 8px;
  margin-left: 20px;
  margin-right: 4px;
  padding: 0px;
}

pre {
  margin-left: 10px;
  margin-right: 0px;
}

div.main {
  line-height: 0px;
  width: 800px;
	position: relative;
	left: 50%;
  margin-top: 12px;
  margin-bottom: 0px;
  margin-right: 0px;
	margin-left: -400px;
}

div.body {
	background: url(bg_horiz.png);
  background-repeat: repeat-y;
  line-height: normal;
	font-family: monospace;
	font-size: 10pt;
	color: #dedfbd;
}

a.normal:link {
  color: #ffdb94;
  text-decoration: none;
}

a.normal:visited {
  color: #ffdb94;
  text-decoration: none;
}

a.normal:hover {
  color: white;
  background-color: #848284;
  text-decoration: none;
}

a.normal:active {
  color: #ffdb94;
  text-decoration: none;
}

a.silent {
  color: #ffdb94;
  text-decoration: none;
}

div.header {
  background: url(bg_header.png);
  height: 21px;
}

div.footer {
  background: url(bg_footer.png);
  height: 6px;
}

div.treeview {
	width: 121px;
	height: 62px;
	line-height: 0px;
  float: right;
  margin-top: 4px;
  margin-right: 8px;
}

p.body {
  text-indent: 4px;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 0px;
}

div.headerLine {
  padding-top: 5px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 0px;
  font-weight: bold;
  font-size: 13pt;
}

div.footerLine {
  padding-top: 15px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 0px;
  font-style: italic;
  font-size: 9pt;
}

img.treeview {
  border-width: 0px;
}

span.keyword {
  font-weight: bold;
  color: #efebad;
}

span.literal {
  color: #c6c3c6;
}

span.comment {
  color: #7b9a7b;
}

div.resumeHeader {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 6px;
  margin-bottom: 2px;
  font-family: sans-serif;
  font-size: 11pt;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

div.resumeSection {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 6px;
  font-family: sans-serif;
  font-size: 9pt;
}

span.resumeImportant {
  font-weight: bold;
  font-style: italic;
}

span.resumeDate {
  position: absolute;
  left: 300px;
  font-weight: bold;
  font-style: italic;
}